<main class="main">
  <div class="content">

    <div class="left-side">
      <div class="question">
        <h3>{{ question?.title }}</h3>
        <h6>{{ question?.id }}</h6>
        <br>
        <p>{{ question?.questionText }}</p>
      </div>
    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>

    <div class="right-side">
      <div class="answers">
        <div class="pill" *ngFor="let answer of this.question?.answers"[ngClass]="(this.question?.answers!.indexOf(answer) == this.question?.correctAnswer)? 'correct' : 'incorrect'" (click)="showAnswer()" [ngClass]="{'hide-answer': hideAnswer}" >

<!-- use ? with a variable to allow it to possibly be undefined  -->
<!-- use ! with a variable to ensure that the variable will be defined -->

<!--
ngFor - iterate a a loop
ngIf - test a condition
ngClass - conditionally apply class for css from the properties of a ts object 
-->

<!-- variale="(condition) ? "true" : "false" -->
<!-- [ngClass]=([answers index] == correct answer) -->

          <div>
            <p>{{ answer }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
